/* Fonts  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding:  0 5vw;
    color: white;
    background-color: black;
    
}
.nav-left {
    display: flex;
}


.header-section {
    background-color: #dadbf1;
}